@model SICORA.Models.Juegos

<style>
      *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
      body{
          background-color:rgb(41, 43, 43);
          font-family: monospace;
      }  

      form{
        width: 450px;
        margin: auto;
        background: rgba(0,0,0,0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 7px;
      }

      h2{
              color: white;
              text-align: center;
              margin: 0;
              font-size: 30px;
              font-family: monospace;
              margin-bottom: 20px;
      }

      button,input, textarea{
              width: 100%;
              margin-bottom: 20px;
              padding: 7px;
              box-sizing: border-box;
              font-size: 17px;
              border: none;
      }

      textarea{
              min-height: 100px;
              max-height: 200px;
              max-width: 100%;
      }

      #boton{
           background: red;
           color: white;   
           padding: 15px;
      }
      .guardar{
              background: gray;
              color: white;
              padding: 7px;
              border: none;
      }
        .modal-content{
                background:  rgba(0,0,0,0.9);
                color: white;
        }
        .close{
                color: white;
        }     
</style>

<body>
        <form asp-action="Agregar_juegos">
                <h2>REGISTRAR NUEVO JUEGO</h2>
                
                <input asp-for="Nom_juego" type="text" name="Nombre" placeholder="Nombre">
                <input asp-for="trailer_juego" type="url" name="Link" placeholder="Url del trailer">
                <input asp-for="Img_juego" type="url" name="Img" placeholder="Url de la imagen">
                <input asp-for="pre_juego" type="text" name="Precio" placeholder="Precio">
                <textarea  asp-for="Desc_juego" name="Descripción" placeholder="Descripción"></textarea>
                <button value="Registrar" id="boton">Registrar</button>
        </form>
</body>
 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}