<style>
      *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
      body{
          background-color:rgb(41, 43, 43);
          font-family: monospace;
      }  

      form{
        width: 450px;
        margin: auto;
        background: rgba(0,0,0,0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 7px;
      }

      h2{
              color: white;
              text-align: center;
              margin: 0;
              font-size: 30px;
              font-family: monospace;
              margin-bottom: 20px;
      }

      input, textarea{
              width: 100%;
              margin-bottom: 20px;
              padding: 7px;
              box-sizing: border-box;
              font-size: 17px;
              border: none;
      }

      textarea{
              min-height: 100px;
              max-height: 200px;
              max-width: 100%;
      }

      #boton{
           background: red;
           color: white;   
           padding: 15px;
      }
      .guardar{
              background: gray;
              color: white;
              padding: 7px;
              border: none;
      }
        .modal-content{
                background:  rgba(0,0,0,0.9);
                color: white;
        }
        .close{
                color: white;
        }     
</style>

<body>
        <form action="">
                <h2>REGISTRAR NUEVO JUEGO</h2>
                <input type="text" name="ID" placeholder="ID del juego">
                <input type="text" name="Nombre" placeholder="Nombre">
                <input type="url" name="Link" placeholder="Url del trailer">
                <input type="url" name="Img" placeholder="Url de la imagen">
                <input type="text" name="Precio" placeholder="Precio">
                <textarea name="Descripción" placeholder="Descripción"></textarea>
                <input type="button" data-toggle="modal" data-target="#miventana" value="Registrar" id="boton">
        </form>

        <div class="modal fade" id="miventana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4>Lista de juegos</h4>
                                </div>
                                <div class="modal-body">
                                        <tr>
                                                <td>ID</td>
                                                <td>Nombre</td>
                                                <td>Link</td>
                                                <td>Imagen</td>
                                                <td>Precio</td>
                                                <td>Descripción</td>
                                        </tr>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="guardar" data-dismiss="modal">Guardar</button>
                                </div>

                        </div>

                </div>
        </div>
</body>