@model SICORA.Models.Prueba_bd

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h4>Prueba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
           
            <div class="form-group">
               
                <input asp-for="Nom_juego" class="form-control" />
                
            </div>

            <div class="form-group">
               
                <textarea asp-for="Desc_juego" class="form-control"></textarea>
                
            </div>

            <div class="form-group">
                
                <input asp-for="Trailer_juego" class="form-control" />
               
            </div>

            <div class="form-group">
                
                <input asp-for="Imagen_juego" class="form-control" />
               
            </div>

            <div class="form-group">
               
                <input asp-for="Pre_juego" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Prueba">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}