@model SICORA.Models.Prueba_bd

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h4>Prueba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom_juego" class="control-label"></label>
                <input asp-for="Nom_juego" class="form-control" />
                <span asp-validation-for="Nom_juego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Prueba_bd">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}