@{
    ViewData["Title"] = "Mostrar_Eventos";
}

<style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        p, h1 {
            color: #C7C7C7;
        }
      body{
          background-color:rgb(41, 43, 43);
      }
      .item {
      display: block;
      width: 100%;
      height: 600px;
}
.item img {
      height: 100%;
      width: 100%;
}
figure{
    background-color: black;
}
#blog h4{
    text-align: center;
    color: #999;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article {
    margin: 18px;
    background-color: #111;
}
#blog img{
    width: 100%;
    width: 290px;
    height: 250px;  
    
}
#info {
    background:rgb(19, 18, 18);
    color: #fff;
    text-align: center;
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pro{
    margin: 40px;
}
.info-pro img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}
footer{
    width: 100%;
    background: #202020;
    padding: 40px;
    color: white;
    
}
.container-footer-all{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
.container-body{
    display: flex;
    justify-content: center;
}
.column1{
    max-width: 400px;
}
.column1 h1{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
.column2{
    max-width: 400px;
}
.column2 h1{
    font-size: 22px;
}
.row {
    margin-top 20px;
    display: flex;
}
.row img{
    width: 35px;
    height: 36px;
}
.row label{
    margin-top:10px;
    margin-left: 20px;
    color:  #C7C7C7;
}
.column3{
    max-width: 400px;
}
.column3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
}
.copyright{
    color: #C7C7C7;
}
.copyrigth a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: white;
}
footer .column1, .column2, .column3 {
    margin: 65px;
}
.img1{
    width: 100%;
    width: 290px;
    
}
.info-img{
    width: 100%;
    width: 290px;
    height: 250px;
    position: absolute;
    background-color: #101010;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
}
.info-img:hover{
    opacity: 1;
}
.info-1{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: white;
    opacity: 1;
}
.titulo-container{
    text-align: center;
    color: white;
    width: 100%;
    background: #101010;
    padding-bottom: 25px;
    padding-top: 25px;
}
.hr{
    margin-top: 30px;
}
.trailer{
    text-align: center;
    
}
.button1:hover {
    background-color: white;
    color: black;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {

    background-color: red;
    background-color:red;

    color: white;
    border: 2px solid red;
    padding: 15px;
    padding-left: 42%;
    padding-right: 43%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
.button2{
    background-color: red;
    color: white;
    border: 2px solid red;
    padding: 15px;
    padding-left: 40%;
    padding-right: 39.8%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
.button2:hover{
    background-color: white;
    color: black;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}


    </style> 
<body>

		
		<div class="col-md-12">
            
			<div id="carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000">
				
				<ol class="carousel-indicators">
					<li data-target="#carousel-1" data-slide-to="0" class="active" ></li>
					<li data-target="#carousel-1" data-slide-to="1"	></li>
					<li data-target="#carousel-1" data-slide-to="2"	></li>
				</ol>
				
				
				<div class="carousel-inner" role="listbox">
					
					<div class="item active">
						<img class="d-block w-100" src="~/images/Fornite1.jpg" alt="" >
						<div class="carousel-caption">
							
                    </a>
							
						</div>
					</div>
					
					<div class="item ">
						<img src="~/images/red1.jpg" class="d-block w-100" class="img-responsive" alt="">
						<div class="carousel-caption ">
							
							
						</div>
					</div>
					
					<div class="item">
						<img src="~/images/lol1.jpg" class="d-block w-100" alt="" class="img-responsive">
						<div class="carousel-caption ">
			   				
						</div>
					</div>
				</div>
				
				<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Anterior</span>
				</a>
				<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Siguiente</span>
				</a>
			</div>
		</div>
	</div>
    
    <body>
        <h3 class="titulo-container">Eventos </h3>
        <br>

        <h1>Fornite: Evento Halloween</h1>
<div img src="~/images/Fornite1.jpg" > 
<p>PIC GAMES LANZO PISTAS PARA EL ESPERADO EVENTO DE HALLOWEN DE FORTNITE

Es normal que los desarrolladores quieran que celebres Halloween en sus juegos con eventos especiales. Al parecer, Epic Games no se quiere quedar atrás y prepara una fiesta similar para Fortnite.

Esto lo decimos puesto que, por medio de la cuenta oficial de Fortniteen Twitter, Epic lanzó pistas de este contenido. Primero publicó el siguiente mensaje: “las lápidas tiemblan. Mantén tus dedos quietos. El circulo cerrará. Es mejor estar listo”. Poco después, compartió otro tweet que dice: “Disfraces y bailes. Asóciate, sé sabio. Podrían ser amistosos. O un fantasma disfrazado”.

Ambas publicaciones están acompañadas de imágenes que juntas parecen ser parte de la revelación de un skin nuevo. Asimismo, presentan el hashtag Fortnitemares, por lo que creemos que ese será el nombre del evento.</p>
</div>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2BD2zBY7yJU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br><br>
<h1>Red Dead Redemption 2, en un solo día, en el Top 3 semanal de One</h1>
<div img src="~/images/red1.jpg" > 

<p>En los últimos días, los posteriores al lanzamiento del espectacular Red Dead Redemption 2, el videojuego de Rockstar es noticia principalmente por estar al frente de casi todos los rankings de ventas y popularidad. El western de mundo abierto lidera el Top Japón y, así mismo, Red Dead Redemption 2 ha tenido un estreno histórico batiendo récords de ventas. Sin embargo, en Xbox One ha quedado en una muy meritoria tercera posición entre los títulos más jugados durante la semana pasada en Estados Unidos: El período de su estreno.
El aspecto meritorio del dato es el hecho de que ha conseguido esta cifra en un solo día, y es que su estreno fue el viernes de esa semana. Eso, por supuesto, nos deja sin saber si con una semana completa hubiera sido capaz de superar a Fortnite: Battle Royale y Call of Duty: Black Ops 4, los dos juegos que lideran el ranking de lo más jugado en esa región.</p>
<br><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IjZwoOwxqtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br><br><br>
<h1></h1>

<h1>El campeonato mundial de League of Legends volverá a América en 2021</h1>
<div img src="~/images/lol1.jpg" > 
<p>Riot Games tiene planes para que la escena de esports de League of Legends siga creciendo. Algo importante para lograrlo es continuar organizando Worlds, el campeonato mundial del MOBA. Es por esto que la compañía ya tiene planeando sus siguientes ediciones y una de ellas será en América.Riot Games reveló que, después de varios años de espera, el campeonato mundial de League of Legends volverá a América. Esto gracias a que Worlds 2021 se llevará a cabo en nuestro continente. Por si no lo sabes, será la cuarta ocasión en la que el evento se celebre en esta parte del mundo.</p>
<br><br><br>






























<br>
        <footer>
        <div class="container-body">
            <div class="column1">
                <h1>Informacion de SICORA</h1>
                <p>Esta empresa se dedica a la venta de juegos,periféricos,programas e información de eventos
                    asi como tambien muestra la calidad de nuestros productos con la compra de figuras emblematicas de los
                    E-sport.
                </p>
            </div>
            <div class="column2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="~/images/icoface.png">
                    <label>Siguenos en Facebook</label>
                </div>
                <div class="row">
                    <img src="~/images/icotwitter.png">
                    <label>Siguenos en Twitter</label>
                </div>
                <div class="row">
                    <img src="~/images/icoinstagram.png">
                    <label>Siguenos en Instagram</label>
                </div>
                <div class="row">
                    <img src="~/images/icongoogle.png">
                    <label>Siguenos en Google Plus</label>
                </div>
            </div>
            <div class="column3">
                <h1>Informacion Contactos</h1>
                <div class="row2">
                    <label>Usmp, Lafontana</label>
                </div>
                <div class="row2">
                    <label>999-999-999</label>
                </div>
                <div class="row2">
                    <label>Daniel Manrique Carbonel</label>
                </div>
            </div>
        </div>


        <div class="container-footer">  
        

            <div class="copyrigth">
                ® 2018 Todos los Derechos Reservados <a href="#" > SICORA</a>
            </div>
            <div class="information">
                <a href="#">Informacion Compañia</a>|
                <a href="#">Privacion y Politica</a>|
                <a href="#">Terminos y Condiciones</a>
            </div>
        </div>
    </footer>

    
</body>
    